.UnredMessage{
	color:red;
}
.add-button{
	color: white;
    z-index: 9999;
    font-size: 16px;
    background: #66c662;
    position: absolute;
    top: 10px;
    right: 50px;
    padding: 6px;
    border-radius: 6px;
    cursor: pointer;
}
.success-alert{
    border:solid 2px #4267b2;
}